.schedule {
  display: grid;
  /* grid-template-columns: 60px repeat(15, 1fr);
  grid-template-rows: 40px repeat(5, 80px); */
  position: relative;
  user-select: none;
  /* border: 2px solid #000; */
}

.corner {
  grid-column: 1;
  grid-row: 1;
}

.hour-label {
  text-align: center;
  /* font-weight: bold; */
  /* border-bottom: 1px solid #ccc; */
}

.cell {
  border: 1px solid #eee;
  background: #fff;
}

.cell.selected {
  background: #d0ebff;
}

.class {
  background: #cce5ff;
  border: 1px solid #007bff;
  border-radius: 12px;
  /* padding: 6px; */
  cursor: pointer;
  z-index: 10;
}

.class.active {
  outline: 2px solid #004085;
}
